<div class="container">
    <div class="wrap">
        <app-back-home url="/home"></app-back-home>
        <div class="data">
            <h2>{{character.name}}</h2>
            <ul>
                <li *ngIf="character.status"><span>Estado: </span> {{character.status}}</li>
                <li *ngIf="character.species"><span>Especie: </span> {{character.species}}</li>
                <li *ngIf="character.type"><span>Tipo: </span> {{character.type}}</li>
                <li *ngIf="character.gender"><span>Genero: </span> {{character.gender}}</li>
                <li *ngIf="character.origin && character.origin.name"><span>Origen: </span> {{character.origin.name}}</li>
            </ul>
        </div>
        <div class="card">
            <div class="card-body">
                <img src="{{character.image}}" alt="Imagen del personaje" class="characterImage">

            </div>
        </div>
    </div>
</div>